* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #041C32;
  position: relative;
  color: white;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
  grid-gap:80px;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
